<!DOCTYPE html>
<html>
 <head>
  <title>今日の天気</title>
 </head>
 <body>
  <p>予報: <%= forecast %></p>
  <p>コメント: <%= comment %></p>
  <p>画像: <img src="<%= image %>" width="300" /></p> 
 </body>
</html>
